*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #f7ff00; 
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00); 
    background: linear-gradient(to right, #db36a4, #f7ff00);

}
header{
    background: #000428; 
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428); 
}
.logo{
    float: left;
    margin: 8px 20px ;
    color: #fff;

}
.logo>h1{
    color:red;
    text-shadow: 7px 6px 6px black, 8px 1px 9.3px red;;
}
.navbar{
    float: right;
   
}
.navbar>ul{
    list-style: none;
}
.navbar>ul>li{
    display: inline-block;
    margin-right: 28px;
    margin-top: 15px;
   
}
header::after{
    content: '';
    display: block;
    clear: both;
    *zoom: 1;
}
.navbar>ul>li>a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}
.navbar>ul>li:hover{
    background-color:#004e92;
    border: 1px solid #fff;
    border-radius: 12px;
}
.banner>img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(80%);
}
.info{
    position: relative;
    margin-top: -30%;
    margin-left: 10%;
}
.info>p{
    color: #fff;
    line-height: 25px;
    text-transform: uppercase;
}
span{
    color: black;
    font-weight: bold;
}
button{
    margin: 10px 0px;
    padding:0px 10px ;
    background-color:black;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    
}
#lastbtn{
    margin-left: 10px;
}
button:hover{
    background-color: blue;
    color:#ff6a00;
}
.about{
    position: relative;
    width: 80%;
   height: 200%;
    margin-left: auto;
    margin-right: auto;
    background-color: #00d2ff;
    margin-top:10%;
    border: 1px solid black;
    margin-bottom:20px;
}
.customer{
    float: left;
    width: 194px;
   
    height: 194px;
    margin: 20px;
}
.customer>img{
    width:194px;
    height: 194px;
    object-fit: cover;
}
.customer-about{
    float: right;
    width: 538px;
    margin-left: 10px;
    height:200px;
    margin: 10px;
    padding: 10px;
}
.customer-about>h1{
    text-shadow: 2px 3px 5px #fff,3px 4px 6px #111111;
    margin-left: -10px;
}
.about::after{
    content: '';
    display: block;
    clear: both;
    *zoom: 1;
}
.service{
    background-color: #9EA2A3;
   width: 100%;
   padding-bottom:10px ;
}
h1,h4{
    padding-left: 8px;
}
.service-info>h4{
    font-size: 20px;
}
.service-info>p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
}
.service-info>h1{
    text-align: center;
    font-size: 35px;
    color: blue;
}
.required{
    background: #1E9600; 
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    
}
.col{
    text-align: center;
    width:300px;
    float: left;
    border-right: 1px solid #111111;
    padding-bottom: 10px;
    padding: 20px;
}
.col>h3{
    padding: 10px 10px;
    color:#fff;
    font-size: 28px;
}
.required::after{
    content:'';
    display: block;
    clear: both;
    *zoom: 1;
}
.col>p{
    font-size: 20px;
    padding-bottom: 20px;
   
}
.col>a{
    background-color: blue;
    color: #fff;
    font-size: 17px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
}
.col>a:hover{
    background-color: #111111;
    border: solid #111111 2px;
}
.col:last-child{
    border-right: none;
}
footer{
    background-color: #111111;
    text-align: center;
    margin-bottom: 5px;
}
footer>small{
    color: #fff;
   padding: 10px;
   line-height: 30px;
}
small>a{
    color: #0f9b0f;
}
.social{
    position: fixed;
    text-align: center;
    margin-top: 400px;
    margin-left: 954px;
    width: 47px;
    height:212px;
    z-index: 10;
    background-color: #fff;
    padding-top: 10px;
}
.social>a{
    color: #111111;
}
/*---------------------Finally over---------------------*/